/local.properties

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Package Files #

*.war
*.ear

bin/
gen/
.DS_Store
local.properties

# Sublime Text project files
*.sublime-*

# Eclipse Stuff
.classpath
.project
.metadata
.settings

# Proguard folder
proguard/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

*build/

# Ignore Gradle files
gradle-wrapper*.jar
.gradle